
x


.kontainerstartsida {
    font-family: 'Gumball', sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    width: 700px;
    margin: auto;
    padding: 30px;
    background: #ffecf0;
    text-align: center;
}

.kontainer2 {
    font-family: 'Gumball', sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    width: 700px;
    margin: auto;
    padding: 30px;
    background: #73cae6;
    text-align: center;
}

.kontainer3 {
    font-family: 'Gumball', sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    width: 700px;
    margin: auto;
    padding: 30px;
    background: #ff7412;
    text-align: center;
}

.kontainer4 {
    font-family: 'Gumball', sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    width: 700px;
    margin: auto;
    padding: 30px;
    background: #b68493;
    text-align: center;
}

.kontainer5 {
    font-family: 'Gumball', sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    width: 700px;
    margin: auto;
    padding: 30px;
    background: #f47e96;
    text-align: center;
}
